@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --bg-footer: #063183;
  --bg-header: #e6f0ff;
  --bg-feature: #f5fafe;
  --btn-primary: #0f1b4c;
  --section-padding: 80px;
  --font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  font-family: var(--font-family);
}
.container {
  width: 100%;
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 15px;
}
a {
  text-decoration: none;
}
img,
svg {
  display: block;
}
.py {
  padding-block: var(--section-padding);
}
.text-white{
  color: #fff;
}
.text-center{
  text-align: center;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.col-3{
  width: 25%;
}
.col-4 {
  width: 33.3%;
}
.col-6 {
  width: 50%;
}
.btn {
  background-color: var(--btn-primary);
  margin-inline-end: 18px;
  color: #ffffff;
  border: 0px;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 8px;
}
.title-bar::before {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background: #000339;
    border-radius: 4px;
    margin-block-end: 10px;
  }

// Header section
.header {
  position: fixed;
  width: 100%;
  padding-block: 20px;
}
// Navbar
.navigation {
  display: flex;
  align-items: center;
  &__logo {
    text-decoration: none;
    margin-inline-end: 47px;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
      display: flex;
      gap: 30px;
      &--link {
        color: #000;
        display: inline-block;
        padding: 15px;
      }
      &--link:last-child {
        margin-right: 0px;
      }
    }
    &__form {
      &__btn {
        padding-block: 10px;
        border: 0px;
      }
      &__btn.primary {
        background-color: transparent;
        margin-inline-end: 18px;
        color: #000;
      }
      &__btn.secondary {
        background-color: var(--btn-primary);
        color: #fff;
        border-radius: 8px;
        padding-inline: 20px;
      }
    }
  }
}

/* Hero section */
.hero {
  padding-block-start: var(--section-padding);
  background: var(--bg-header);
}
.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__content {
    width: 50%;
    &--title {
      font-size: 18px;
      font-weight: 500;
      margin-block-end: 10px;
    }
    &--subtitle {
      color: #000336;
      font-family: Poppins;
      font-size: 60px;
      font-weight: 700;
      line-height: 70px;
    }
    &--des {
      font-size: 18px;
      margin-block: 40px;
    }
  }
  &__image {
    .img {
      margin-right: -5vw;
    }
  }
}
/*
branding section
*/
.branding {
  padding-block: var(--section-padding);
}

.branding__area--logo img {
  margin-block-end: 22px;
}
.branding__review--rating,
.branding__review--feedback {
  display: flex;
  justify-content: end;
}
.branding__review--rating {
  margin-block-end: 15px;
  & i {
    color: #ffca56;
  }
}
.branding__logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 75px;
  padding-block-start: 60px;
  &--img {
    padding-block: 10px;
    padding-inline: 18px;
    // transition: all;
    transition-duration: 2s;

    &:hover {
      // background-color: rgb(231, 231, 231);
      box-shadow: 5px 3px 5px rgb(238, 236, 236);
      border-radius: 8px;
    }
  }
}
/* service-area */

.service-area {
  padding-inline: 10vw;
  .section-title,
  .section-des {
    margin-inline: auto;
    text-align: center;
    padding-inline: 20%;
  }
  .title-bar.center{
    &::before {
      margin-inline: auto;
    }
  }
  .service-content {
    margin-block-start: var(--section-padding);
    margin-block-end: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .service-title {
      padding-block: 10px;
      font-size: 20px;
    }
    a span {
      margin-inline-start: 10px;

    }
  }
  .service-btn {
    display: flex;
    justify-content: center;
  }
}
// feature section
.right-arrow-link {
  color: #0689ff;
  font-size: 14px;
}
.link .right-arrow-link {
  font-size: 18px;
  font-weight: 600;
}
.feature {
  background: #f5fafe;
  padding-block: 110px;
  .section-content {
    display: flex;
    justify-content: space-between;
    .link {
      align-self: flex-end;
    }
  }
  .section-des {
    padding-block: 15px;
  }
  .feature-card {
    margin-block-start: var(--section-padding);
    background: #fff;
    box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
    border-radius: 12px;
    .feature-content {
      & > img {
        width: 100%;
      }
      .feature-content-des {
        padding-block-start: 20px;
        padding-inline: 15px;
        h2 {
          margin-bottom: 5px;
          font-size: 20px;
          font-weight: 600;
        }
        p {
          font-size: 14px;
          font-weight: 500px;
          color: #a3a6ab;
        }
      }
    }
  }
  .feature-icon-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 15px;
    padding-block: 20px;
    .icon-area-content {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      p {
        color: #4d4d52;
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
// neighberhood section
h2.title{
  font-size: 32px;
  font-weight: 600;
}
h3.title{
  font-size: 20px;
}
p.des{
  font-size: 16px;
}
.col-6.w-60{
  width: 60%;
}

.neighborhood-image{
  position: relative;
  display: flex;
  justify-content: end;
}

.neighborhood-image__content {
  position: absolute;
  width: 40%;
  translate: 27% 0;
  background: #ffffff;
  left: 0;
  border-radius: 8px 0px;
  padding-block: 40px;
  padding-inline: 15px;
  h2.title {
    display: flex;
    justify-content: space-between;
    span i{
      color: #50D28A;
    }
  }
  p.des{
    font-size: 14px;
    padding-block: 10px;
  }
}
.neighborhood-content{
  padding-inline: 20%;
  h1.tilte{
    font-size: 36px;
    font-weight: 600;
  }
  p.des{
    font-size: 16px;
  }
  
}
// Counter
.counter{
  text-align: center;
}
// Feature-bottom
.feature-bottom{
  background: var(--bg-footer);
  .btn-white{
    background: #fff;
    color: var(--btn-primary);
  }
  .btn-group{
    margin-block-start: 30px;
  }
  p.des{
    color:#fff9;
  }
}
// feature bottom
.feature-bottom_image{
  display: flex;
  justify-content: center;
  width: 100%;
  img{
    margin-block-start: -120px;
    margin-block-end: -80px;
  }
}
// Footer
.footer{
  p.des, a{
    color: #7A7A7E;
    font-size: 16px;
  }
  .row{
    align-items: start;
  }
  .list{
    margin-block-start: 20px;
    display: inline-flex;
    flex-direction: column;
    a:not(:last-child){
      margin-block-end: 5px ;
    }
  }
  .details{
    margin-block-start: 20px;
  }
  .social-link{
    margin-block-start: 20px;
    display: flex;
    text-align: center;
    a{
      width: 35px;
      height: 35px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      color: #292828;
      background: #fafafc ;
      transition: .3s;
    }
    :not(:last-child){
      margin-inline-end: 25px;
    }
    :hover{
      background: #dfe0e1;
    }
  }
  .row.footer-bottom{
    margin-block-start: 60px;
  }
  .copyright-text{
    display: flex;
    justify-content:end;
    p.des{font-size: 14px;}
  }
}
